include ../../mixins/index

+b.new-form.js-form.FORM(
  data-method='POST',
  data-action='https://httpbin.org/post'
  novalidate
)
  +e.top 
    +e.column
      +e.input.INPUT(
        type='email' 
        placeholder='E-Mail'
        name="new-email"
        id="new-email"
        data-rule="required|email"
      )
    +e.column
      +e.input.INPUT(
        type='text' 
        placeholder='Name'
        name="new-name"
        id="new-name"
        data-rule="required"
      )
  +e.middle 
    +e.input.--kom.TEXTAREA(
      type='text' 
      placeholder='Kommentar'
      name="new-kommentar"
      id="new-kommentar"
    )
  +e.bottom 
    +e.submit.btn.INPUT(type='submit' value='Відправити коментар')